{% extends 'default.html' %}

{% block content %}
         <!--left-->
         <div class="left" id="c_left">
           <div class="s_tuijian">
           <h2>文章<span>推荐</span></h2>
           </div>
          <div class="content_text">
           <!--wz-->
           {% for article in articles %}
           <div class="wz">
            <h3><a href="article/{{article.id}}" title="{{article.title}}">{{article.title}}</a></h3>
             <dl>
                {% if article.image %}
                    <dt><a href="article/{{article.id}}"><img src="/media/{{article.image}}" width="200"  height="123" alt=""></a></dt>
                {% else %}
                    <dt><a href="article/{{article.id}}"><img src="/static/image/s3.jpg" width="200"  height="123" alt=""></a></dt>
                {% endif %}
                <dd>
                 <p class="dd_text_1">
                 <a href="article/{{article.id}}">
                        {{article.body|truncatewords:150}}
                 </a>
                    <br>
                 </p>
               <p class="dd_text_2">
               <span class="left author">{{article.user_id}}</span><span class="left sj">{{article.datetime|date:"y年m月d日"}}</span>
               <span class="left fl">分类:<a href="#" title="{{article.slug}}">{{article.slug}}</a></span><span class="left yd"><a href="article/{{article.id}}" title="阅读全文">阅读全文</a>
               </span>
                <div class="clear"></div>
               </p>
               </dd>
               <div class="clear"></div>
             </dl>
            </div>
            {% endfor %}                  
           </div>
         </div>
         <!--left end-->
{% endblock %}

